
.inverted {
    filter: invert(1);
}

.highlight-links a {
    background-color: yellow;
    color: black; !important;
    text-decoration-color: #0d95ad;
}

.black-white {
    filter: grayscale(100%);
}

.highlight-heading {
    background-color: yellow;
    color: #0c1527; !important;
}

.highlighted {
    background-color: yellow;
    color: #0c1527; !important;
}

.big-cursor {
    cursor: url('assets/img/big-cursor.svg'), auto !important;
}

.iconBtn{
    pointer-events: none;
    width: 20% !important;
    border-left:solid 3px lightcyan;
    border-top:solid 3px lightcyan;
    border-bottom:solid 3px lightcyan;
}

/*Widget Menu Box Start*/
/* Right Menu */
.accessibility-menu-right {
    position: fixed;
    top: 50%;
    right: -350px;
    transform: translateY(-50%);
    padding: 10px;
    border: 5px solid dimgray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
}
.accessibility-menu-right:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.accessibility-menu-right ul {
    padding: 0;
}
.accessibility-menu-right li {
    margin-top: 10px;
}
.accessibility-menu-right li button {
    width: 100%;
    text-align: left;
}
/* Left Menu */
.accessibility-menu-left{
    position: fixed;
    top: 50%;
    left: -350px;
    transform: translateY(-50%);
    padding: 10px;
    border: 5px solid dimgray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
}
.accessibility-menu-left:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.accessibility-menu-left ul {
    padding: 0;
}
.accessibility-menu-left li {
    margin-top: 10px;
}
.accessibility-menu-left li button {
    width: 100%;
    text-align: left;
}
/*Widget Menu Box End*/


/*Widget Menu Close Button Start*/
.crossBtnLeft {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 10px;
    border: solid 3px dimgray;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.crossBtnLeft:hover {
    background-color: #a8c4c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.crossBtnRight{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 10px;
    border: solid 3px dimgray;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.crossBtnRight:hover {
    background-color: #a8c4c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*Widget Menu Close Button End*/

/*Rounded Floating Button Start*/
.accessibility-menu-btn {
    position: fixed;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border: 5px solid dimgray;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.accessibility-menu-btn:hover {
    border: 5px solid dimgray;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.accessibility-menu-btn-left{
    position: fixed;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border: 5px solid dimgray;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.accessibility-menu-btn-left:hover {
    border: 5px solid dimgray;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/*Rounded Floating Button End*/



/* Custom styles for the widget start */
 .widget-toolbar {
     display: flex;
     justify-content: space-between;
     margin-bottom: 1rem;
 }

.widget-group {
    display: flex;
}

.widget-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    cursor: pointer;
}

.widget-btn:hover {
    background-image: linear-gradient(to right, #365969, #4c6972);
}

.widget-btn b {
    margin-right: 5px;
}

.widget-gap-2 {
    display: grid;
    gap: 0.5rem;
}
/* Custom styles for the widget end */
